{% extends 'base.html' %} {# Assuming you have a base.html template #}
{% load crispy_forms_tags %} {# Optional: if you're using django-crispy-forms #}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Change Your Password</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }} {# Render the password change form #}
        </fieldset>
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
</div>
{% endblock %}