{% extends 'base.html' %}
{# REMOVE THIS LINE: {% load crispy_forms_tags %} #}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Reset Your Password</h2>
    <p>Enter your email address below, and we'll send you instructions to set a new one.</p>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {# CHANGE THIS LINE: #}
            {{ form.as_p }} {# Renders the form fields as paragraphs. This is Django's default. #}
        </fieldset>
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Send password reset email</button>
        </div>
    </form>
</div>
{% endblock %}